* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
body {
    background-color: #f6f6f6;
}

/* Navbar Section */
header.navbar {
    background-color: #f6f6f6;
    color: black;
    font-weight: 900;
}
.title {
    padding-left: 2rem;
    font-weight: 900;
}

p.title {
    color: black;
    font-weight: 900;
}
div.navbarLinkText span {
    font-weight: 500;
}
.logo {
    width: 2rem;
    height: 2rem;
    filter: drop-shadow(2px 2px 3px black);
}

/* Banner Section */
div.banner {
    background-color: #75e8e6;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    width: inherit;
    padding: inherit;
    margin: inherit;
    text-align: center;
    align-items: center;
}
h1.banner-text {
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px 5px black;
    transform: scale(0.7);
}
/* 2nd Section  */
.itemRow {
    text-align: center;
    padding: 50px 20% 60px;
}
.icon {
    color:#75e8e6;
    padding-bottom: 20px
}
h3.icon-text {
    color: grey;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.5px;
}
div.itemRow div.gridRow {
    padding: 1rem 0 1rem;
}
/* Footer section */
footer {
    height: 100px;
    background-color: #cdd0cb;
    color: #495464;
    width: 100%;
}
div.social-text {
    text-align: center;
    height: inherit;
    padding: 0 40% 0;
    width: 100%;
}
.social-item {
    color: inherit;
    align-items: center;
}
a.MuiTypography-colorPrimary {
    color: grey;
}