* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Navbar Section */
header.navbar {
    background-color: #f6f6f6;
    color: black;
}

.logo {
    width: 2rem;
    height: 2rem;
    filter: drop-shadow(2px 2px 3px black);
}

/* Banner Section */
.banner {
    height: 200px;
}
.banner-img {
    object-fit: cover;
    height: 20rem;
    width: 100%;
    filter: brightness(0.60);
}