* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
body {
    background-color: #f6f6f6;
}

/* Navbar Section */
header.navbar {
    background-color: #f6f6f6;
    color: black;
}
.title {
    padding-left: 2rem;
}

.logo {
    width: 2rem;
    height: 2rem;
    filter: drop-shadow(2px 2px 3px black);
}

/* Banner Section */
.banner {
    height: 5rem;
    position: relative;
}
.banner-img {
    object-fit: cover;
    height: 20rem;
    width: 100%;
    filter: brightness(0.60);
}
#banner-text {
    margin: 1.5rem;
}
.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: white;
    text-shadow: 5px 5px 10px black;
}

/* 2nd Section  */
.itemRow {
    padding-top: 300px;
    text-align: center;
}
.icon {
    transform: scale(4.0);
}
.icon-text {
    margin-top: 50px;
    margin-bottom: 60px;
}
.gridRow {
    padding-bottom: 40px;
}